<div class="container">

    <h1 align="center">Different deep learning approaches in detecting various abnormalities via Chest X-Ray images</h1>
    <p class="text-justify">In this work, we would like to introduce 2 of the highlighted neural architectures in the field of object detection, which are: DEtection TRansformer and You Only Look Once. After that, we shall compare the performance between 2 these architectures via applying into the problem of detecting various abnormalities using CXR images. And finally, we will introduce our demo for this work.</p>

    <div class="alert alert-success" role="alert">
        The model is already to predict.
    </div>

    <div class="alert alert-warning" role="alert">
        Your an image to predict can not be loaded. Please upload your an image!
    </div>
</div>

