<div class='mt-3'>
    <form>
        <div class="alert alert-info" role="alert">
            Your model is not supported. Please upload a model that is supported by the system (*.pt).
        </div>
    </form> 
</div>