<div class="container">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        <p>Your model predict has been completed </p>
        <hr>
        <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
    </div>

    <div align="center">
        <img src ="yolov5/runs/detect/exp/image.png"  class="img-fluid" alt="Responsive image">
        <h4>
            Image of a patient is predicted. 
        </h4>
    </div>  
</div>