<div class='mt-3'>
    <form method="POST" enctype="multipart/form-data" action="/upload_model">
        <div class="alert alert-info" role="alert">
            Please just upload only one file. We are building to read multi files in the future release.
        </div>

        <div class="alert alert-danger" role="alert">
            Warning: The model accepted only .pt or .pth files.
        </div>

        <div class="form-group"> 
            <input type="file" name="data_model" class="form-control-file">
        </div>
        <input type="submit" value="Upload Model" class="btn btn-primary">
    </form> 
</div>